$prefix: app-;

:root {
	--#{$prefix}navbar-height: 82px;

	--#{$prefix}primary-light: #d9eaf1;
	--#{$prefix}color-primary-rgb: 0, 118, 170;
	--#{$prefix}color-secondary-rgb: 243, 177, 34;
	--#{$prefix}background-opacity: 0.15;

	--#{$prefix}page-padding-x: min(3rem, 3vw);
	--#{$prefix}page-margin-x: max(-3rem, -3vw);
	--#{$prefix}border-today: 2px solid var(--bs-primary);
}

html {
	overflow-x: hidden;
}

.#{$prefix}dates-row {
	background-color: var(--bs-gray-200);
	margin-inline: var(--app-page-margin-x);
}

.#{$prefix}day-of-the-week {
	font-size: 10px;
	text-align: center;
}

.#{$prefix}date-selected {
	background-color: white !important;
	opacity: 1;
	box-shadow:
		0 4px 6px -1px rgb(0 0 0 / 0.1),
		0 2px 4px -2px rgb(0 0 0 / 0.1) !important;
}

.btn {
	&.btn-light {
		border: 1px solid var(--bs-border-color);
	}

	svg {
		&:first-child {
			margin-right: 0.125rem;
		}

		&:last-child {
			margin-left: 0.125rem;
		}
	}
}
