$prefix: app-;

:root {
	--#{$prefix}primary-light: #d9eaf1;
}

.#{$prefix}container {
	max-width: $container-width;
	margin-inline: auto;
	padding-inline: $homepage-padding;
}

section {
	margin-top: 2.5rem;
}

.btn svg {
	&:first-child {
		margin-right: 0.125rem;
	}

	&:last-child {
		margin-left: 0.125rem;
	}
}
