@import './globals';
// Custom Bootstrap styles should be added before importing the original Bootstrap styles.
@import './custom-bootstrap.scss';

@import 'bootstrap/scss/bootstrap';

@font-face {
	font-family: 'Roboto';
	src: url('/fonts/Roboto-Variable.ttf') format('truetype');
	font-weight: 100 900;
	font-style: normal;
}

@font-face {
	font-family: 'Anton';
	src: url('/fonts/Anton-Regular.ttf') format('truetype');
	font-weight: 100 900;
	font-style: normal;
}
